In [1]:
import pandas as pd

In [2]:
unemployment = pd.read_csv("raw_unemployment.csv")

In [3]:
unemployment = unemployment.drop(["County", "Month"], axis = 1)

In [4]:
unemployment.columns

Index(['Year', 'State', 'Rate'], dtype='object')

In [5]:
unemployment = unemployment.groupby(["Year","State"]).mean()

In [6]:
unemployment

                        Rate
Year State
1990 Alabama        8.226990
     Arizona        8.285556
     Arkansas       7.642222
     California     8.303448
     Colorado       5.260677
...                      ...
2016 Virginia       4.630388
     Washington     6.911752
     West Virginia  7.023939
     Wisconsin      4.691088
     Wyoming        4.969928

[1258 rows x 1 columns]

In [10]:
unemployment = unemployment.reset_index()

In [11]:
unemployment

      Year          State      Rate
0     1990        Alabama  8.226990
1     1990        Arizona  8.285556
2     1990       Arkansas  7.642222
3     1990     California  8.303448
4     1990       Colorado  5.260677
...    ...            ...       ...
1253  2016       Virginia  4.630388
1254  2016     Washington  6.911752
1255  2016  West Virginia  7.023939
1256  2016      Wisconsin  4.691088
1257  2016        Wyoming  4.969928

[1258 rows x 3 columns]