In [1]:
import pandas as pd
import requests 
import numpy as np

In [68]:
house = pd.read_csv("Adjust.csv")
#house = house.dropna()
house2 = pd.read_csv("Unadjust.csv")
#house2= house2.dropna()

In [69]:
df1 = df = pd.DataFrame({})
#df.append[house.iloc[]]
house.iloc[:,9]

house = pd.melt(house, id_vars = ["State"], var_name = "Year", value_name = "Adjusted Household Income")
print(house)
house2 = pd.melt(house2, id_vars = ["State"], var_name = "Year", value_name = "Unadjusted Household Income")
print(house)

          State         Year   Income
0       Alabama         2019  64010.0
1        Alaska         2019  89290.0
2       Arizona         2019  80500.0
3      Arkansas         2019  62120.0
4    California         2019  88960.0
..          ...          ...      ...
762         NaN  Unnamed: 13      NaN
763         NaN  Unnamed: 13      NaN
764         NaN  Unnamed: 13      NaN
765         NaN  Unnamed: 13      NaN
766         NaN  Unnamed: 13      NaN

[767 rows x 3 columns]
          State         Year   Income
0       Alabama         2019  64010.0
1        Alaska         2019  89290.0
2       Arizona         2019  80500.0
3      Arkansas         2019  62120.0
4    California         2019  88960.0
..          ...          ...      ...
762         NaN  Unnamed: 13      NaN
763         NaN  Unnamed: 13      NaN
764         NaN  Unnamed: 13      NaN
765         NaN  Unnamed: 13      NaN
766         NaN  Unnamed: 13      NaN

[767 rows x 3 columns]

In [72]:
house = house.reset_index(drop=True)
print(house)

          State         Year   Income
0       Alabama         2019  64010.0
1        Alaska         2019  89290.0
2       Arizona         2019  80500.0
3      Arkansas         2019  62120.0
4    California         2019  88960.0
..          ...          ...      ...
762         NaN  Unnamed: 13      NaN
763         NaN  Unnamed: 13      NaN
764         NaN  Unnamed: 13      NaN
765         NaN  Unnamed: 13      NaN
766         NaN  Unnamed: 13      NaN

[767 rows x 3 columns]

In [55]:
house.to_csv("Adjusted.csv", index = False)
house2.to_csv("Unadjusted.csv", index = False)