In [1]:
import beaapi

In [2]:
beakey = "4EF11E8F-6B3B-4B4F-B829-FB58F0209379"

In [3]:
list_of_sets = beaapi.get_data_set_list(beakey)

In [4]:
list_of_sets

                DatasetName                                 DatasetDescription
0                      NIPA                               Standard NIPA tables
1        NIUnderlyingDetail               Standard NI underlying detail tables
2                       MNE                          Multinational Enterprises
3               FixedAssets                       Standard Fixed Assets tables
4                       ITA                International Transactions Accounts
5                       IIP                  International Investment Position
6               InputOutput                                  Input-Output Data
7             IntlServTrade                       International Services Trade
8               IntlServSTA  International Services Supplied Through Affili...
9             GDPbyIndustry                                    GDP by Industry
10                 Regional                                 Regional data sets
11  UnderlyingGDPbyIndustry                         Underlying GDP by Industry
12       APIDatasetMetaData                  Metadata about other API datasets

In [17]:
gdp = beaapi.get_data(beakey, datasetname = "Regional", TableName = "SAGDP2N", linecode = 1, geofips = "STATE", year = "ALL")

In [18]:
gdp

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue
0,SAGDP2N-1,00000,United States *,2017,Millions of current dollars,6,19612100.0
1,SAGDP2N-1,00000,United States *,2018,Millions of current dollars,6,20656500.0
2,SAGDP2N-1,00000,United States *,2019,Millions of current dollars,6,21521400.0
3,SAGDP2N-1,00000,United States *,2020,Millions of current dollars,6,21323000.0
4,SAGDP2N-1,00000,United States *,2021,Millions of current dollars,6,23594000.0
...,...,...,...,...,...,...,...
355,SAGDP2N-1,98000,Far West,2018,Millions of current dollars,6,4026580.0
356,SAGDP2N-1,98000,Far West,2019,Millions of current dollars,6,4252240.0
357,SAGDP2N-1,98000,Far West,2020,Millions of current dollars,6,4254020.0
358,SAGDP2N-1,98000,Far West,2021,Millions of current dollars,6,4732880.0
359,SAGDP2N-1,98000,Far West,2022,Millions of current dollars,6,5066770.0

In [23]:
import numpy as np
np.unique(gdp['GeoFips'])

array(['00000', '01000', '02000', '04000', '05000', '06000', '08000',
       '09000', '10000', '11000', '12000', '13000', '15000', '16000',
       '17000', '18000', '19000', '20000', '21000', '22000', '23000',
       '24000', '25000', '26000', '27000', '28000', '29000', '30000',
       '31000', '32000', '33000', '34000', '35000', '36000', '37000',
       '38000', '39000', '40000', '41000', '42000', '44000', '45000',
       '46000', '47000', '48000', '49000', '50000', '51000', '53000',
       '54000', '55000', '56000', '91000', '92000', '93000', '94000',
       '95000', '96000', '97000', '98000'], dtype=object)