In [9]:
import pandas as pd
import numpy as np
import requests

In [ ]:
#Data sourced from Census API

In [49]:
host = 'https://api.census.gov/data'
year = '/2015'
dataset_acronym = '/acs/acs1'
g = '?get='
variables = 'NAME,B02001_001E'
location = '&for=state:*&key='
usr_key = "0d20bc54b2f22dccdd48690f3ef9c523a9b7da70"
query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
response = requests.get(query_url)
contents = response.text

In [50]:
contents

'[["NAME","B02001_001E","state"],\n["Mississippi","2992333","28"],\n["Missouri","6083672","29"],\n["Montana","1032949","30"],\n["Nebraska","1896190","31"],\n["Nevada","2890845","32"],\n["New Hampshire","1330608","33"],\n["New Jersey","8958013","34"],\n["New Mexico","2085109","35"],\n["New York","19795791","36"],\n["North Carolina","10042802","37"],\n["North Dakota","756928","38"],\n["Ohio","11613423","39"],\n["Oklahoma","3911338","40"],\n["Oregon","4028977","41"],\n["Pennsylvania","12802503","42"],\n["Rhode Island","1056298","44"],\n["South Carolina","4896146","45"],\n["South Dakota","858469","46"],\n["Tennessee","6600299","47"],\n["Texas","27469114","48"],\n["Vermont","626042","50"],\n["Utah","2995919","49"],\n["Virginia","8382993","51"],\n["Washington","7170351","53"],\n["West Virginia","1844128","54"],\n["Wisconsin","5771337","55"],\n["Wyoming","586107","56"],\n["Puerto Rico","3474182","72"],\n["Alabama","4858979","01"],\n["Alaska","738432","02"],\n["Arizona","6828065","04"],\n["Arkansas","2978204","05"],\n["California","39144818","06"],\n["Colorado","5456574","08"],\n["Delaware","945934","10"],\n["District of Columbia","672228","11"],\n["Connecticut","3590886","09"],\n["Florida","20271272","12"],\n["Georgia","10214860","13"],\n["Idaho","1654930","16"],\n["Hawaii","1431603","15"],\n["Illinois","12859995","17"],\n["Indiana","6619680","18"],\n["Iowa","3123899","19"],\n["Kansas","2911641","20"],\n["Kentucky","4425092","21"],\n["Louisiana","4670724","22"],\n["Maine","1329328","23"],\n["Maryland","6006401","24"],\n["Massachusetts","6794422","25"],\n["Michigan","9922576","26"],\n["Minnesota","5489594","27"]]'

In [51]:
def create_pop():
    years = ["/2011", "/2012", "/2013", "/2014", "/2015", "/2016", "/2017", "/2018", "/2019", "/2021", 
             "/2022"]
    year = "/2010"
    query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
    response = requests.get(query_url)
    contents = response.text
    pop = pd.read_json(contents)
    year_col = np.full(len(pop), year[1:])
    year_col = pd.DataFrame(year_col)
    pop = pd.concat([pop, year_col], axis = 1)
    pop.columns = ["State","Population","state", "Year"]
    pop = pop[pop["State"] != "Puerto Rico"]
    pop = pop[pop["State"] != "District of Columbia"]
    for year in years:
        query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
        response = requests.get(query_url)
        contents = response.text
        temp = pd.read_json(contents)
        year_col = np.full(len(temp), year[1:])
        year_col = pd.DataFrame(year_col)
        temp = pd.concat([temp, year_col], axis = 1)
        temp.columns = ["State","Population","state", "Year"]
        temp = temp.sort_values("State")
        temp = temp[temp["State"] != "District of Columbia"]
        temp = temp[temp["State"] != "Puerto Rico"]
        pop = pd.concat([pop, temp])
    return pop

In [52]:
pop = create_pop()

In [53]:
pop

            State   Population  state  Year
0            NAME  B02001_001E  state  2010
1         Alabama      4785298     01  2010
2          Alaska       713985     02  2010
3         Arizona      6413737     04  2010
4        Arkansas      2921606     05  2010
..            ...          ...    ...   ...
47       Virginia      8683619     51  2022
48     Washington      7785786     53  2022
49  West Virginia      1775156     54  2022
50      Wisconsin      5892539     55  2022
51        Wyoming       581381     56  2022

[612 rows x 4 columns]

In [54]:
pop = pop[pop["State"] != "NAME"]

In [55]:
pop = pop.drop("state", axis = 1)

In [56]:
population = pd.to_numeric(pop["Population"])
pop["Population"] = population

In [57]:
pop

            State  Population  Year
1         Alabama     4785298  2010
2          Alaska      713985  2010
3         Arizona     6413737  2010
4        Arkansas     2921606  2010
5      California    37349363  2010
..            ...         ...   ...
47       Virginia     8683619  2022
48     Washington     7785786  2022
49  West Virginia     1775156  2022
50      Wisconsin     5892539  2022
51        Wyoming      581381  2022

[600 rows x 3 columns]

In [58]:
pop.to_csv("state_population.csv", index = False)

In [59]:
contents

'[["NAME","B02001_001E","state"],\n["Mississippi","2992333","28"],\n["Missouri","6083672","29"],\n["Montana","1032949","30"],\n["Nebraska","1896190","31"],\n["Nevada","2890845","32"],\n["New Hampshire","1330608","33"],\n["New Jersey","8958013","34"],\n["New Mexico","2085109","35"],\n["New York","19795791","36"],\n["North Carolina","10042802","37"],\n["North Dakota","756928","38"],\n["Ohio","11613423","39"],\n["Oklahoma","3911338","40"],\n["Oregon","4028977","41"],\n["Pennsylvania","12802503","42"],\n["Rhode Island","1056298","44"],\n["South Carolina","4896146","45"],\n["South Dakota","858469","46"],\n["Tennessee","6600299","47"],\n["Texas","27469114","48"],\n["Vermont","626042","50"],\n["Utah","2995919","49"],\n["Virginia","8382993","51"],\n["Washington","7170351","53"],\n["West Virginia","1844128","54"],\n["Wisconsin","5771337","55"],\n["Wyoming","586107","56"],\n["Puerto Rico","3474182","72"],\n["Alabama","4858979","01"],\n["Alaska","738432","02"],\n["Arizona","6828065","04"],\n["Arkansas","2978204","05"],\n["California","39144818","06"],\n["Colorado","5456574","08"],\n["Delaware","945934","10"],\n["District of Columbia","672228","11"],\n["Connecticut","3590886","09"],\n["Florida","20271272","12"],\n["Georgia","10214860","13"],\n["Idaho","1654930","16"],\n["Hawaii","1431603","15"],\n["Illinois","12859995","17"],\n["Indiana","6619680","18"],\n["Iowa","3123899","19"],\n["Kansas","2911641","20"],\n["Kentucky","4425092","21"],\n["Louisiana","4670724","22"],\n["Maine","1329328","23"],\n["Maryland","6006401","24"],\n["Massachusetts","6794422","25"],\n["Michigan","9922576","26"],\n["Minnesota","5489594","27"]]'