In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
import requests
host = 'https://api.census.gov/data'
year = '/2015'
dataset_acronym = '/acs/acs1'
g = '?get='
variables = 'NAME,B19083_001E'
location = '&for=state:*&key='
usr_key = "0d20bc54b2f22dccdd48690f3ef9c523a9b7da70"
query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
response = requests.get(query_url)
contents = response.text

In [3]:
contents

'[["NAME","B19083_001E","state"],\n["Mississippi","0.4759","28"],\n["Missouri","0.4634","29"],\n["Montana","0.4623","30"],\n["Nebraska","0.4473","31"],\n["Nevada","0.4548","32"],\n["New Hampshire","0.4347","33"],\n["New Jersey","0.4832","34"],\n["New Mexico","0.4795","35"],\n["New York","0.5138","36"],\n["North Carolina","0.4776","37"],\n["North Dakota","0.4664","38"],\n["Ohio","0.4637","39"],\n["Oklahoma","0.4702","40"],\n["Oregon","0.4622","41"],\n["Pennsylvania","0.4685","42"],\n["Rhode Island","0.4732","44"],\n["South Carolina","0.4698","45"],\n["South Dakota","0.4436","46"],\n["Tennessee","0.4789","47"],\n["Texas","0.4823","48"],\n["Vermont","0.4452","50"],\n["Utah","0.4252","49"],\n["Virginia","0.4681","51"],\n["Washington","0.4561","53"],\n["West Virginia","0.4581","54"],\n["Wisconsin","0.4410","55"],\n["Wyoming","0.4374","56"],\n["Puerto Rico","0.5589","72"],\n["Alabama","0.4811","01"],\n["Alaska","0.4322","02"],\n["Arizona","0.4702","04"],\n["Arkansas","0.4773","05"],\n["California","0.4876","06"],\n["Colorado","0.4580","08"],\n["Delaware","0.4523","10"],\n["District of Columbia","0.5354","11"],\n["Connecticut","0.4916","09"],\n["Florida","0.4872","12"],\n["Georgia","0.4801","13"],\n["Idaho","0.4525","16"],\n["Hawaii","0.4346","15"],\n["Illinois","0.4817","17"],\n["Indiana","0.4519","18"],\n["Iowa","0.4393","19"],\n["Kansas","0.4596","20"],\n["Kentucky","0.4781","21"],\n["Louisiana","0.4909","22"],\n["Maine","0.4523","23"],\n["Maryland","0.4524","24"],\n["Massachusetts","0.4848","25"],\n["Michigan","0.4667","26"],\n["Minnesota","0.4492","27"]]'

In [4]:
gini = pd.read_json(contents)

In [5]:
gini

                       0            1      2
0                   NAME  B19083_001E  state
1            Mississippi       0.4759     28
2               Missouri       0.4634     29
3                Montana       0.4623     30
4               Nebraska       0.4473     31
5                 Nevada       0.4548     32
6          New Hampshire       0.4347     33
7             New Jersey       0.4832     34
8             New Mexico       0.4795     35
9               New York       0.5138     36
10        North Carolina       0.4776     37
11          North Dakota       0.4664     38
12                  Ohio       0.4637     39
13              Oklahoma       0.4702     40
14                Oregon       0.4622     41
15          Pennsylvania       0.4685     42
16          Rhode Island       0.4732     44
17        South Carolina       0.4698     45
18          South Dakota       0.4436     46
19             Tennessee       0.4789     47
20                 Texas       0.4823     48
21               Vermont       0.4452     50
22                  Utah       0.4252     49
23              Virginia       0.4681     51
24            Washington       0.4561     53
25         West Virginia       0.4581     54
26             Wisconsin       0.4410     55
27               Wyoming       0.4374     56
28           Puerto Rico       0.5589     72
29               Alabama       0.4811     01
30                Alaska       0.4322     02
31               Arizona       0.4702     04
32              Arkansas       0.4773     05
33            California       0.4876     06
34              Colorado       0.4580     08
35              Delaware       0.4523     10
36  District of Columbia       0.5354     11
37           Connecticut       0.4916     09
38               Florida       0.4872     12
39               Georgia       0.4801     13
40                 Idaho       0.4525     16
41                Hawaii       0.4346     15
42              Illinois       0.4817     17
43               Indiana       0.4519     18
44                  Iowa       0.4393     19
45                Kansas       0.4596     20
46              Kentucky       0.4781     21
47             Louisiana       0.4909     22
48                 Maine       0.4523     23
49              Maryland       0.4524     24
50         Massachusetts       0.4848     25
51              Michigan       0.4667     26
52             Minnesota       0.4492     27

In [6]:
def create_gini():
    years = ["/2011", "/2012", "/2013", "/2014", "/2015", "/2016", "/2017", "/2018", "/2019", "/2021", 
             "/2022"]
    year = "/2010"
    query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
    response = requests.get(query_url)
    contents = response.text
    gini = pd.read_json(contents)
    year_col = np.full(len(gini), year[1:])
    year_col = pd.DataFrame(year_col)
    gini = pd.concat([gini, year_col], axis = 1)
    gini.columns = ["State","gini","state", "year"]
    gini = gini[gini["State"] != "Puerto Rico"]
    gini = gini[gini["State"] != "District of Columbia"]
    for year in years:
        query_url = f"{host}{year}{dataset_acronym}{g}{variables}{location}{usr_key}"
        response = requests.get(query_url)
        contents = response.text
        temp = pd.read_json(contents)
        year_col = np.full(len(temp), year[1:])
        year_col = pd.DataFrame(year_col)
        temp = pd.concat([temp, year_col], axis = 1)
        temp.columns = ["State","gini","state", "year"]
        temp = temp.sort_values("State")
        temp = temp[temp["State"] != "District of Columbia"]
        temp = temp[temp["State"] != "Puerto Rico"]
        gini = pd.concat([gini, temp])
    return gini

In [7]:
gini = create_gini()

In [8]:
gini

            State         gini  state  year
0            NAME  B19083_001E  state  2010
1         Alabama        0.472     01  2010
2          Alaska        0.422     02  2010
3         Arizona        0.455     04  2010
4        Arkansas        0.458     05  2010
..            ...          ...    ...   ...
47       Virginia       0.4755     51  2022
48     Washington       0.4742     53  2022
49  West Virginia       0.4804     54  2022
50      Wisconsin       0.4510     55  2022
51        Wyoming       0.4437     56  2022

[612 rows x 4 columns]

In [9]:
gini = gini[gini["State"] != "NAME"]

In [10]:
gini

            State    gini state  year
1         Alabama   0.472    01  2010
2          Alaska   0.422    02  2010
3         Arizona   0.455    04  2010
4        Arkansas   0.458    05  2010
5      California   0.471    06  2010
..            ...     ...   ...   ...
47       Virginia  0.4755    51  2022
48     Washington  0.4742    53  2022
49  West Virginia  0.4804    54  2022
50      Wisconsin  0.4510    55  2022
51        Wyoming  0.4437    56  2022

[600 rows x 4 columns]

In [11]:
gini.columns = ["State","gini","state", "year"]

In [12]:
gini = gini[gini["State"] != "NAME"]

In [13]:
gini

            State    gini state  year
1         Alabama   0.472    01  2010
2          Alaska   0.422    02  2010
3         Arizona   0.455    04  2010
4        Arkansas   0.458    05  2010
5      California   0.471    06  2010
..            ...     ...   ...   ...
47       Virginia  0.4755    51  2022
48     Washington  0.4742    53  2022
49  West Virginia  0.4804    54  2022
50      Wisconsin  0.4510    55  2022
51        Wyoming  0.4437    56  2022

[600 rows x 4 columns]

In [14]:
gini

            State    gini state  year
1         Alabama   0.472    01  2010
2          Alaska   0.422    02  2010
3         Arizona   0.455    04  2010
4        Arkansas   0.458    05  2010
5      California   0.471    06  2010
..            ...     ...   ...   ...
47       Virginia  0.4755    51  2022
48     Washington  0.4742    53  2022
49  West Virginia  0.4804    54  2022
50      Wisconsin  0.4510    55  2022
51        Wyoming  0.4437    56  2022

[600 rows x 4 columns]

In [15]:
gini = gini.drop(["state"], axis = 1)

In [16]:
gini

            State    gini  year
1         Alabama   0.472  2010
2          Alaska   0.422  2010
3         Arizona   0.455  2010
4        Arkansas   0.458  2010
5      California   0.471  2010
..            ...     ...   ...
47       Virginia  0.4755  2022
48     Washington  0.4742  2022
49  West Virginia  0.4804  2022
50      Wisconsin  0.4510  2022
51        Wyoming  0.4437  2022

[600 rows x 3 columns]

In [17]:
coeffs = pd.to_numeric(gini["gini"])

In [18]:
gini["gini"] = coeffs

In [19]:
years = pd.to_numeric(gini["year"])
gini["year"] = years

In [20]:
gini

            State    gini  year
1         Alabama  0.4720  2010
2          Alaska  0.4220  2010
3         Arizona  0.4550  2010
4        Arkansas  0.4580  2010
5      California  0.4710  2010
..            ...     ...   ...
47       Virginia  0.4755  2022
48     Washington  0.4742  2022
49  West Virginia  0.4804  2022
50      Wisconsin  0.4510  2022
51        Wyoming  0.4437  2022

[600 rows x 3 columns]

In [21]:
gini = gini.pivot(columns = "year", index = 'State', values = "gini")

In [22]:
gini

year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
State,,,,,,,,,,,,
Alabama,0.472,0.4735,0.4726,0.4752,0.4758,0.4811,0.4847,0.4768,0.4859,0.4741,0.4823,0.4851
Alaska,0.422,0.4099,0.4232,0.4083,0.4175,0.4322,0.4081,0.4241,0.4322,0.4376,0.4392,0.4278
Arizona,0.455,0.4600,0.4608,0.4681,0.4676,0.4702,0.4713,0.4668,0.4613,0.4591,0.4629,0.4665
Arkansas,0.458,0.4684,0.4632,0.4685,0.4714,0.4773,0.4719,0.4725,0.4845,0.4750,0.4751,0.4799
California,0.471,0.4812,0.4822,0.4903,0.4890,0.4876,0.4899,0.4866,0.4912,0.4866,0.4924,0.4953
Colorado,0.457,0.4588,0.4579,0.4614,0.4584,0.4580,0.4586,0.4553,0.4561,0.4548,0.4604,0.4566
Connecticut,0.486,0.4859,0.4915,0.4994,0.5005,0.4916,0.4945,0.4943,0.5014,0.5024,0.4985,0.5008
Delaware,0.440,0.4404,0.4356,0.4513,0.4494,0.4523,0.4522,0.4811,0.4587,0.4509,0.4547,0.4407
Florida,0.474,0.4811,0.4828,0.4843,0.4834,0.4872,0.4852,0.4859,0.4887,0.4808,0.4869,0.4902
Georgia,0.468,0.4770,0.4809,0.4837,0.4801,0.4801,0.4813,0.4830,0.4822,0.4795,0.4787,0.4736
Hawaii,0.433,0.4301,0.4257,0.4400,0.4325,0.4346,0.4420,0.4455,0.4450,0.4397,0.4552,0.4574
Idaho,0.433,0.4320,0.4302,0.4376,0.4541,0.4525,0.4503,0.4478,0.4454,0.4337,0.4577,0.4434
Illinois,0.465,0.4718,0.4716,0.4824,0.4765,0.4817,0.4810,0.4818,0.4852,0.4800,0.4824,0.4837
Indiana,0.440,0.4461,0.4417,0.4554,0.4455,0.4519,0.4527,0.4497,0.4511,0.4584,0.4480,0.4561
Iowa,0.427,0.4340,0.4328,0.4429,0.4433,0.4393,0.4451,0.4381,0.4413,0.4422,0.4489,0.4514
Kansas,0.445,0.4442,0.4496,0.4589,0.4597,0.4596,0.4550,0.4539,0.4633,0.4500,0.4599,0.4632
Kentucky,0.466,0.4709,0.4667,0.4721,0.4704,0.4781,0.4813,0.4784,0.4787,0.4764,0.4757,0.4845
Louisiana,0.475,0.4836,0.4859,0.4914,0.4902,0.4909,0.4990,0.4935,0.4936,0.4978,0.4988,0.4915
Maine,0.437,0.4509,0.4450,0.4532,0.4593,0.4523,0.4519,0.4526,0.4516,0.4490,0.4663,0.4601
Maryland,0.443,0.4466,0.4473,0.4555,0.4491,0.4524,0.4499,0.4530,0.4543,0.4558,0.4631,0.4589
Massachusetts,0.475,0.4771,0.4813,0.4837,0.4863,0.4848,0.4786,0.4851,0.4875,0.4803,0.4893,0.4976
Michigan,0.451,0.4612,0.4624,0.4641,0.4598,0.4667,0.4695,0.4671,0.4679,0.4634,0.4659,0.4685
Minnesota,0.440,0.4436,0.4441,0.4462,0.4539,0.4492,0.4496,0.4516,0.4536,0.4434,0.4493,0.4560
Mississippi,0.468,0.4735,0.4870,0.4791,0.4760,0.4759,0.4828,0.4790,0.4828,0.4896,0.4808,0.4806
Missouri,0.455,0.4611,0.4608,0.4605,0.4628,0.4634,0.4646,0.4618,0.4657,0.4633,0.4706,0.4687
Montana,0.435,0.4351,0.4502,0.4620,0.4544,0.4623,0.4667,0.4539,0.4535,0.4597,0.4693,0.4652
Nebraska,0.432,0.4467,0.4339,0.4445,0.4352,0.4473,0.4477,0.4391,0.4488,0.4400,0.4560,0.4610
Nevada,0.448,0.4526,0.4516,0.4543,0.4427,0.4548,0.4577,0.4606,0.4690,0.4710,0.4726,0.4685
New Hampshire,0.425,0.4347,0.4298,0.4387,0.4410,0.4347,0.4304,0.4386,0.4530,0.4406,0.4348,0.4466
New Jersey,0.464,0.4694,0.4718,0.4800,0.4757,0.4832,0.4813,0.4794,0.4836,0.4782,0.4853,0.4815
New Mexico,0.464,0.4821,0.4713,0.4759,0.4770,0.4795,0.4769,0.4776,0.4891,0.4768,0.4861,0.4796
New York,0.499,0.5033,0.5009,0.5098,0.5111,0.5138,0.5129,0.5157,0.5130,0.5149,0.5140,0.5208
North Carolina,0.464,0.4716,0.4691,0.4765,0.4748,0.4776,0.4780,0.4763,0.4782,0.4743,0.4801,0.4768
North Dakota,0.433,0.4448,0.4597,0.4550,0.4664,0.4664,0.4533,0.4546,0.4427,0.4558,0.4531,0.4678
Ohio,0.452,0.4594,0.4615,0.4652,0.4637,0.4637,0.4680,0.4642,0.4667,0.4651,0.4687,0.4691
Oklahoma,0.454,0.4613,0.4643,0.4619,0.4660,0.4702,0.4645,0.4658,0.4687,0.4739,0.4618,0.4743
Oregon,0.449,0.4586,0.4565,0.4600,0.4624,0.4622,0.4583,0.4593,0.4582,0.4500,0.4611,0.4679
Pennsylvania,0.461,0.4611,0.4642,0.4696,0.4686,0.4685,0.4689,0.4777,0.4747,0.4745,0.4720,0.4778
Rhode Island,0.467,0.4674,0.4647,0.4769,0.4827,0.4732,0.4781,0.4722,0.4700,0.4628,0.4680,0.4640
South Carolina,0.461,0.4648,0.4684,0.4665,0.4687,0.4698,0.4735,0.4795,0.4762,0.4747,0.4760,0.4757
South Dakota,0.442,0.4324,0.4335,0.4427,0.4468,0.4436,0.4495,0.4488,0.4445,0.4360,0.4522,0.4487
Tennessee,0.468,0.4756,0.4732,0.4783,0.4811,0.4789,0.4790,0.4822,0.4778,0.4749,0.4821,0.4694
Texas,0.469,0.4771,0.4767,0.4807,0.4827,0.4823,0.4800,0.4781,0.4822,0.4753,0.4784,0.4796
Utah,0.419,0.4249,0.4244,0.4259,0.4283,0.4252,0.4263,0.4225,0.4269,0.4268,0.4449,0.4264
Vermont,0.444,0.4308,0.4392,0.4537,0.4406,0.4452,0.4539,0.4525,0.4473,0.4471,0.4527,0.4452
Virginia,0.459,0.4632,0.4661,0.4672,0.4658,0.4681,0.4705,0.4674,0.4754,0.4690,0.4724,0.4755
Washington,0.441,0.4449,0.4498,0.4572,0.4542,0.4561,0.4591,0.4561,0.4574,0.4577,0.4704,0.4742
West Virginia,0.451,0.4721,0.4638,0.4647,0.4546,0.4581,0.4711,0.4686,0.4742,0.4644,0.4858,0.4804
Wisconsin,0.430,0.4370,0.4401,0.4446,0.4397,0.4410,0.4498,0.4467,0.4483,0.4391,0.4464,0.4510
Wyoming,0.423,0.4081,0.4166,0.4183,0.4270,0.4374,0.4360,0.4326,0.4555,0.4345,0.4638,0.4437

In [23]:
gini

year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
State,,,,,,,,,,,,
Alabama,0.472,0.4735,0.4726,0.4752,0.4758,0.4811,0.4847,0.4768,0.4859,0.4741,0.4823,0.4851
Alaska,0.422,0.4099,0.4232,0.4083,0.4175,0.4322,0.4081,0.4241,0.4322,0.4376,0.4392,0.4278
Arizona,0.455,0.4600,0.4608,0.4681,0.4676,0.4702,0.4713,0.4668,0.4613,0.4591,0.4629,0.4665
Arkansas,0.458,0.4684,0.4632,0.4685,0.4714,0.4773,0.4719,0.4725,0.4845,0.4750,0.4751,0.4799
California,0.471,0.4812,0.4822,0.4903,0.4890,0.4876,0.4899,0.4866,0.4912,0.4866,0.4924,0.4953
Colorado,0.457,0.4588,0.4579,0.4614,0.4584,0.4580,0.4586,0.4553,0.4561,0.4548,0.4604,0.4566
Connecticut,0.486,0.4859,0.4915,0.4994,0.5005,0.4916,0.4945,0.4943,0.5014,0.5024,0.4985,0.5008
Delaware,0.440,0.4404,0.4356,0.4513,0.4494,0.4523,0.4522,0.4811,0.4587,0.4509,0.4547,0.4407
Florida,0.474,0.4811,0.4828,0.4843,0.4834,0.4872,0.4852,0.4859,0.4887,0.4808,0.4869,0.4902
Georgia,0.468,0.4770,0.4809,0.4837,0.4801,0.4801,0.4813,0.4830,0.4822,0.4795,0.4787,0.4736
Hawaii,0.433,0.4301,0.4257,0.4400,0.4325,0.4346,0.4420,0.4455,0.4450,0.4397,0.4552,0.4574
Idaho,0.433,0.4320,0.4302,0.4376,0.4541,0.4525,0.4503,0.4478,0.4454,0.4337,0.4577,0.4434
Illinois,0.465,0.4718,0.4716,0.4824,0.4765,0.4817,0.4810,0.4818,0.4852,0.4800,0.4824,0.4837
Indiana,0.440,0.4461,0.4417,0.4554,0.4455,0.4519,0.4527,0.4497,0.4511,0.4584,0.4480,0.4561
Iowa,0.427,0.4340,0.4328,0.4429,0.4433,0.4393,0.4451,0.4381,0.4413,0.4422,0.4489,0.4514
Kansas,0.445,0.4442,0.4496,0.4589,0.4597,0.4596,0.4550,0.4539,0.4633,0.4500,0.4599,0.4632
Kentucky,0.466,0.4709,0.4667,0.4721,0.4704,0.4781,0.4813,0.4784,0.4787,0.4764,0.4757,0.4845
Louisiana,0.475,0.4836,0.4859,0.4914,0.4902,0.4909,0.4990,0.4935,0.4936,0.4978,0.4988,0.4915
Maine,0.437,0.4509,0.4450,0.4532,0.4593,0.4523,0.4519,0.4526,0.4516,0.4490,0.4663,0.4601
Maryland,0.443,0.4466,0.4473,0.4555,0.4491,0.4524,0.4499,0.4530,0.4543,0.4558,0.4631,0.4589
Massachusetts,0.475,0.4771,0.4813,0.4837,0.4863,0.4848,0.4786,0.4851,0.4875,0.4803,0.4893,0.4976
Michigan,0.451,0.4612,0.4624,0.4641,0.4598,0.4667,0.4695,0.4671,0.4679,0.4634,0.4659,0.4685
Minnesota,0.440,0.4436,0.4441,0.4462,0.4539,0.4492,0.4496,0.4516,0.4536,0.4434,0.4493,0.4560
Mississippi,0.468,0.4735,0.4870,0.4791,0.4760,0.4759,0.4828,0.4790,0.4828,0.4896,0.4808,0.4806
Missouri,0.455,0.4611,0.4608,0.4605,0.4628,0.4634,0.4646,0.4618,0.4657,0.4633,0.4706,0.4687
Montana,0.435,0.4351,0.4502,0.4620,0.4544,0.4623,0.4667,0.4539,0.4535,0.4597,0.4693,0.4652
Nebraska,0.432,0.4467,0.4339,0.4445,0.4352,0.4473,0.4477,0.4391,0.4488,0.4400,0.4560,0.4610
Nevada,0.448,0.4526,0.4516,0.4543,0.4427,0.4548,0.4577,0.4606,0.4690,0.4710,0.4726,0.4685
New Hampshire,0.425,0.4347,0.4298,0.4387,0.4410,0.4347,0.4304,0.4386,0.4530,0.4406,0.4348,0.4466
New Jersey,0.464,0.4694,0.4718,0.4800,0.4757,0.4832,0.4813,0.4794,0.4836,0.4782,0.4853,0.4815
New Mexico,0.464,0.4821,0.4713,0.4759,0.4770,0.4795,0.4769,0.4776,0.4891,0.4768,0.4861,0.4796
New York,0.499,0.5033,0.5009,0.5098,0.5111,0.5138,0.5129,0.5157,0.5130,0.5149,0.5140,0.5208
North Carolina,0.464,0.4716,0.4691,0.4765,0.4748,0.4776,0.4780,0.4763,0.4782,0.4743,0.4801,0.4768
North Dakota,0.433,0.4448,0.4597,0.4550,0.4664,0.4664,0.4533,0.4546,0.4427,0.4558,0.4531,0.4678
Ohio,0.452,0.4594,0.4615,0.4652,0.4637,0.4637,0.4680,0.4642,0.4667,0.4651,0.4687,0.4691
Oklahoma,0.454,0.4613,0.4643,0.4619,0.4660,0.4702,0.4645,0.4658,0.4687,0.4739,0.4618,0.4743
Oregon,0.449,0.4586,0.4565,0.4600,0.4624,0.4622,0.4583,0.4593,0.4582,0.4500,0.4611,0.4679
Pennsylvania,0.461,0.4611,0.4642,0.4696,0.4686,0.4685,0.4689,0.4777,0.4747,0.4745,0.4720,0.4778
Rhode Island,0.467,0.4674,0.4647,0.4769,0.4827,0.4732,0.4781,0.4722,0.4700,0.4628,0.4680,0.4640
South Carolina,0.461,0.4648,0.4684,0.4665,0.4687,0.4698,0.4735,0.4795,0.4762,0.4747,0.4760,0.4757
South Dakota,0.442,0.4324,0.4335,0.4427,0.4468,0.4436,0.4495,0.4488,0.4445,0.4360,0.4522,0.4487
Tennessee,0.468,0.4756,0.4732,0.4783,0.4811,0.4789,0.4790,0.4822,0.4778,0.4749,0.4821,0.4694
Texas,0.469,0.4771,0.4767,0.4807,0.4827,0.4823,0.4800,0.4781,0.4822,0.4753,0.4784,0.4796
Utah,0.419,0.4249,0.4244,0.4259,0.4283,0.4252,0.4263,0.4225,0.4269,0.4268,0.4449,0.4264
Vermont,0.444,0.4308,0.4392,0.4537,0.4406,0.4452,0.4539,0.4525,0.4473,0.4471,0.4527,0.4452
Virginia,0.459,0.4632,0.4661,0.4672,0.4658,0.4681,0.4705,0.4674,0.4754,0.4690,0.4724,0.4755
Washington,0.441,0.4449,0.4498,0.4572,0.4542,0.4561,0.4591,0.4561,0.4574,0.4577,0.4704,0.4742
West Virginia,0.451,0.4721,0.4638,0.4647,0.4546,0.4581,0.4711,0.4686,0.4742,0.4644,0.4858,0.4804
Wisconsin,0.430,0.4370,0.4401,0.4446,0.4397,0.4410,0.4498,0.4467,0.4483,0.4391,0.4464,0.4510
Wyoming,0.423,0.4081,0.4166,0.4183,0.4270,0.4374,0.4360,0.4326,0.4555,0.4345,0.4638,0.4437

In [24]:
gini = gini.reset_index()

In [25]:
gini

year,State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022
0,Alabama,0.472,0.4735,0.4726,0.4752,0.4758,0.4811,0.4847,0.4768,0.4859,0.4741,0.4823,0.4851
1,Alaska,0.422,0.4099,0.4232,0.4083,0.4175,0.4322,0.4081,0.4241,0.4322,0.4376,0.4392,0.4278
2,Arizona,0.455,0.4600,0.4608,0.4681,0.4676,0.4702,0.4713,0.4668,0.4613,0.4591,0.4629,0.4665
3,Arkansas,0.458,0.4684,0.4632,0.4685,0.4714,0.4773,0.4719,0.4725,0.4845,0.4750,0.4751,0.4799
4,California,0.471,0.4812,0.4822,0.4903,0.4890,0.4876,0.4899,0.4866,0.4912,0.4866,0.4924,0.4953
5,Colorado,0.457,0.4588,0.4579,0.4614,0.4584,0.4580,0.4586,0.4553,0.4561,0.4548,0.4604,0.4566
6,Connecticut,0.486,0.4859,0.4915,0.4994,0.5005,0.4916,0.4945,0.4943,0.5014,0.5024,0.4985,0.5008
7,Delaware,0.440,0.4404,0.4356,0.4513,0.4494,0.4523,0.4522,0.4811,0.4587,0.4509,0.4547,0.4407
8,Florida,0.474,0.4811,0.4828,0.4843,0.4834,0.4872,0.4852,0.4859,0.4887,0.4808,0.4869,0.4902
9,Georgia,0.468,0.4770,0.4809,0.4837,0.4801,0.4801,0.4813,0.4830,0.4822,0.4795,0.4787,0.4736
10,Hawaii,0.433,0.4301,0.4257,0.4400,0.4325,0.4346,0.4420,0.4455,0.4450,0.4397,0.4552,0.4574
11,Idaho,0.433,0.4320,0.4302,0.4376,0.4541,0.4525,0.4503,0.4478,0.4454,0.4337,0.4577,0.4434
12,Illinois,0.465,0.4718,0.4716,0.4824,0.4765,0.4817,0.4810,0.4818,0.4852,0.4800,0.4824,0.4837
13,Indiana,0.440,0.4461,0.4417,0.4554,0.4455,0.4519,0.4527,0.4497,0.4511,0.4584,0.4480,0.4561
14,Iowa,0.427,0.4340,0.4328,0.4429,0.4433,0.4393,0.4451,0.4381,0.4413,0.4422,0.4489,0.4514
15,Kansas,0.445,0.4442,0.4496,0.4589,0.4597,0.4596,0.4550,0.4539,0.4633,0.4500,0.4599,0.4632
16,Kentucky,0.466,0.4709,0.4667,0.4721,0.4704,0.4781,0.4813,0.4784,0.4787,0.4764,0.4757,0.4845
17,Louisiana,0.475,0.4836,0.4859,0.4914,0.4902,0.4909,0.4990,0.4935,0.4936,0.4978,0.4988,0.4915
18,Maine,0.437,0.4509,0.4450,0.4532,0.4593,0.4523,0.4519,0.4526,0.4516,0.4490,0.4663,0.4601
19,Maryland,0.443,0.4466,0.4473,0.4555,0.4491,0.4524,0.4499,0.4530,0.4543,0.4558,0.4631,0.4589
20,Massachusetts,0.475,0.4771,0.4813,0.4837,0.4863,0.4848,0.4786,0.4851,0.4875,0.4803,0.4893,0.4976
21,Michigan,0.451,0.4612,0.4624,0.4641,0.4598,0.4667,0.4695,0.4671,0.4679,0.4634,0.4659,0.4685
22,Minnesota,0.440,0.4436,0.4441,0.4462,0.4539,0.4492,0.4496,0.4516,0.4536,0.4434,0.4493,0.4560
23,Mississippi,0.468,0.4735,0.4870,0.4791,0.4760,0.4759,0.4828,0.4790,0.4828,0.4896,0.4808,0.4806
24,Missouri,0.455,0.4611,0.4608,0.4605,0.4628,0.4634,0.4646,0.4618,0.4657,0.4633,0.4706,0.4687
25,Montana,0.435,0.4351,0.4502,0.4620,0.4544,0.4623,0.4667,0.4539,0.4535,0.4597,0.4693,0.4652
26,Nebraska,0.432,0.4467,0.4339,0.4445,0.4352,0.4473,0.4477,0.4391,0.4488,0.4400,0.4560,0.4610
27,Nevada,0.448,0.4526,0.4516,0.4543,0.4427,0.4548,0.4577,0.4606,0.4690,0.4710,0.4726,0.4685
28,New Hampshire,0.425,0.4347,0.4298,0.4387,0.4410,0.4347,0.4304,0.4386,0.4530,0.4406,0.4348,0.4466
29,New Jersey,0.464,0.4694,0.4718,0.4800,0.4757,0.4832,0.4813,0.4794,0.4836,0.4782,0.4853,0.4815
30,New Mexico,0.464,0.4821,0.4713,0.4759,0.4770,0.4795,0.4769,0.4776,0.4891,0.4768,0.4861,0.4796
31,New York,0.499,0.5033,0.5009,0.5098,0.5111,0.5138,0.5129,0.5157,0.5130,0.5149,0.5140,0.5208
32,North Carolina,0.464,0.4716,0.4691,0.4765,0.4748,0.4776,0.4780,0.4763,0.4782,0.4743,0.4801,0.4768
33,North Dakota,0.433,0.4448,0.4597,0.4550,0.4664,0.4664,0.4533,0.4546,0.4427,0.4558,0.4531,0.4678
34,Ohio,0.452,0.4594,0.4615,0.4652,0.4637,0.4637,0.4680,0.4642,0.4667,0.4651,0.4687,0.4691
35,Oklahoma,0.454,0.4613,0.4643,0.4619,0.4660,0.4702,0.4645,0.4658,0.4687,0.4739,0.4618,0.4743
36,Oregon,0.449,0.4586,0.4565,0.4600,0.4624,0.4622,0.4583,0.4593,0.4582,0.4500,0.4611,0.4679
37,Pennsylvania,0.461,0.4611,0.4642,0.4696,0.4686,0.4685,0.4689,0.4777,0.4747,0.4745,0.4720,0.4778
38,Rhode Island,0.467,0.4674,0.4647,0.4769,0.4827,0.4732,0.4781,0.4722,0.4700,0.4628,0.4680,0.4640
39,South Carolina,0.461,0.4648,0.4684,0.4665,0.4687,0.4698,0.4735,0.4795,0.4762,0.4747,0.4760,0.4757
40,South Dakota,0.442,0.4324,0.4335,0.4427,0.4468,0.4436,0.4495,0.4488,0.4445,0.4360,0.4522,0.4487
41,Tennessee,0.468,0.4756,0.4732,0.4783,0.4811,0.4789,0.4790,0.4822,0.4778,0.4749,0.4821,0.4694
42,Texas,0.469,0.4771,0.4767,0.4807,0.4827,0.4823,0.4800,0.4781,0.4822,0.4753,0.4784,0.4796
43,Utah,0.419,0.4249,0.4244,0.4259,0.4283,0.4252,0.4263,0.4225,0.4269,0.4268,0.4449,0.4264
44,Vermont,0.444,0.4308,0.4392,0.4537,0.4406,0.4452,0.4539,0.4525,0.4473,0.4471,0.4527,0.4452
45,Virginia,0.459,0.4632,0.4661,0.4672,0.4658,0.4681,0.4705,0.4674,0.4754,0.4690,0.4724,0.4755
46,Washington,0.441,0.4449,0.4498,0.4572,0.4542,0.4561,0.4591,0.4561,0.4574,0.4577,0.4704,0.4742
47,West Virginia,0.451,0.4721,0.4638,0.4647,0.4546,0.4581,0.4711,0.4686,0.4742,0.4644,0.4858,0.4804
48,Wisconsin,0.430,0.4370,0.4401,0.4446,0.4397,0.4410,0.4498,0.4467,0.4483,0.4391,0.4464,0.4510
49,Wyoming,0.423,0.4081,0.4166,0.4183,0.4270,0.4374,0.4360,0.4326,0.4555,0.4345,0.4638,0.4437

In [26]:
gini.to_csv("gini_coef.csv", index = False)